# Export all functions that do NOT begin with a dot (period)
#exportPattern("^[^\\.]")
exportPattern("^[^\\*]") # export all objects

# Import all functions from the package tcltk, which is heavily used by PBSmodelling
#import(tcltk)
